body {
    background-color: #222224;
    max-width: 100%;
    margin: 0;
    font-family: "Inter Tight", sans-serif;
    overflow-x: hidden;

}



header {
   display: flex;
   padding-left: 9px;
   margin-top: 0;
   height: 80px;
   width: 100%;
   background-color: #40533bb3;
   font-family: "Inter Tight", sans-serif;
   border-bottom: 4.4px solid rgb(115, 151, 113);
}

#h1fisio {
    position: relative;
    font-size: 56px;
    margin-top: 5px;
    font-weight: 420;
    text-shadow: 2px 2px 4.5px #163b04;
    color: #ebfde6;
    left: 5px;
    cursor: default;
    
    
}

.arealogin {
    position: absolute;
    display: flex;
    align-items: center;
    right: 8px;
    top: 8px;
    
}

#usuario {
    color: white;
    font-size: 16px;
    font-weight: 560;
    margin-bottom: 5px;

}

#logingoogle {

    right: 8px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#googleimg {
    width: 160px;
    height: auto;
    
}

#logoutgoogle {
    right: 8px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#sairimg {
    width: 90px;
    height: auto;
    
}

.aba1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(Ref1.jpg);
    background-size: cover;
    height: 450px;
    max-width: 100%;
    border-bottom: 1.6px solid rgb(115, 151, 113);
    box-shadow: 0px 2px 35px rgb(115, 151, 113);
}

.box1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #000000b3;
    height: 350px;
    box-shadow: 0px 0px 20px #000;

}


.frases1a {
    position: relative;
    justify-self: center;
    align-self: center;
    font-family: "Inter Tight", sans-serif;
    font-size: 25px;
    color: #d9ffd0;
    text-shadow: 2px 2px 1px rgb(97, 126, 93);
    top: 58px;
    
}

#h2t1 {
    position: relative;
    justify-self: center;
    align-self: center;
    cursor: default;
    
}

#pt1 {
    display: flex;
    position: relative;
    width: 760px;
    font-weight: 530;
    font-family: "Inter Tight", sans-serif;
    color: #b9cebb;
    text-shadow: 2px 2px 3px rgb(41, 56, 41);
    font-size: 18px;
    left: 39px;
    cursor: default;
    

    
}

#img1 {
    
    width: 500px;
    top: 09px;
    height: auto;
    border-radius: 30px;
    justify-self: flex-end;    
    align-self: flex-end;
    margin-right: 28px;
}







.aba2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(Ref2.jpg);
    background-size: cover;
    height: 450px;
    max-width: 100%;
    border-bottom: 1.6px solid rgb(115, 151, 113);
    box-shadow: 0px 2px 35px rgb(115, 151, 113);
}

.box2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #000000b3;
    height: 350px;
    box-shadow: 0px 0px 20px #000;
}


.frases2a {
    position: relative;
    justify-self: center;
    align-self: center;
    font-family: "Inter Tight", sans-serif;
    font-size: 25px;
    color: #d9ffd0;
    text-shadow: 2px 2px 1px rgb(97, 126, 93);
    top: 58px;
    
}

#h2t2 {
    position: relative;
    justify-self: center;
    align-self: center;
    cursor: default;
    
}

#pt2 {
    display: flex;
    position: relative;
    width: 760px;
    font-weight: 530;
    font-family: "Inter Tight", sans-serif;
    color: #b9cebb;
    text-shadow: 2px 2px 3px rgb(41, 56, 41);
    font-size: 18px;
    justify-self: center;
    align-self: center;
    cursor: default;

    
}

#btnagendar {
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    background-color: #9de0a0;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 0px;
    width: 268px;
    height: 39px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(53, 70, 51);
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 15px #9de0a0;

}

#btntrocar1 {
    position: absolute;
    right: 17px;
    top: 300px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 12px;
    

}

#btntrocar2 {
    position: absolute;
    left: 17px;
    top: 300px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 12px;
}


#btnproximo {
    width: 40px;
}

#btnanterior {
    width: 40px;
    
    
}

.aba1, .aba2 {
    animation: slideIn 0.5s ease-in-out;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.aba3 {
    display: flex;
    flex-direction: column;
    height: 990px;
    border-bottom: 1.6px solid rgb(115, 151, 113);
    box-shadow: 0px 2px 35px rgb(115, 151, 113);
    overflow: hidden;
    gap: 20px;
}

.titulo {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
    width: 100%;
}

#tituloaba3 {
    color: #ebfde6e6;
    font-weight: 630;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgb(142, 165, 131);
    animation: deslizar 32s linear infinite;
    cursor: default;
}


@keyframes deslizar {
    100% {
        transform:translateX(100%)
    }

    0% {
        transform: translateX(-45%);
    }
}




.fisioterapia {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    gap: 20px;
}

#ref5 {
    width: 410px;
    height: 340px;
    border-radius: 18px;
    border: 1.8px solid rgb(115, 151, 113);
    box-shadow: 0px 0px 30px rgb(115, 151, 113);
}

#frasefisio {
    color: #b9cebb;
    width: 390px;
    font-size: 34px;
    margin-top: 15px;
    text-shadow: 2px 2px 2.5px rgb(97, 126, 93);
    font-weight: 300;
    margin-left: 10px;
    cursor: default;

}

.pilates {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    gap: 20px;
}

#ref4 {
    width: 410px;
    height: 340px;
    border-radius: 18px;
    border: 1.8px solid rgb(115, 151, 113);
    box-shadow: 0px 0px 30px rgb(115, 151, 113);
}

#frasepilates {
    color: #b9cebb;
    width: 430px;
    font-size: 34px;
    margin-top: 15px;
    text-shadow: 2px 2px 2.5px rgb(97, 126, 93);
    font-weight: 300;
    margin-left: 10px;
    cursor: default;

}

.box2 {
    position: absolute;
    margin-top: 189px;
    box-sizing: content-box;
    width: 520px;
    height: 740px;
    background-color: #1a1a1ab3;
    right: 140px;
    box-shadow: 0px 0px 30px rgb(115, 151, 113);
    border-radius: 20px;
}

#h1box {
    font-size: 22px;
    justify-self: center;
    align-self: center;
    color: #e9ffe5;
    text-shadow: 0px 0px 22.5px rgb(160, 160, 160);
    cursor: default;
}

#pbox {
    color: #c6ddc2;
    justify-self: center;
    align-self: center;
    margin-top: 12px;
    font-size: 14px;
    cursor: default;
    
}

#reflocal {
    margin-top: 1px;
    justify-self: center;
    align-self: center;
    width: 270px;
    height: auto;
    border-radius: 16px;
}

#p1box {
    color: #738570;
    justify-self: center;
    align-self: center;
    margin-top: 6px;
    font-size: 12px;
    text-shadow: 0px 0px 6.5px rgb(0, 0, 0);
    cursor: default;
}

#horario {
    justify-self: center;
    align-self: center;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


#ref4:hover, #ref5:hover , #btnagendar:hover , #btnagendar2:hover , #fisio1:hover ,
 #fisio2:hover , #fisio3:hover , #btnanterior:hover , #btnproximo:hover ,
 .box2:hover , #reflocal:hover , #horario:hover , #logingoogle:hover , #logoutgoogle:hover{
    animation: passar 0.09s linear;
    transform: scale(1.1);
}

@keyframes passar {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
    
}

.aba4 {
    padding-top: 17px;
    height: 528px;
    border-bottom: 1.6px solid rgb(115, 151, 113);
    border-top: 0px solid rgb(115, 151, 113);
    box-shadow: 0px 2px 25px rgb(115, 151, 113);
    
    
}

#equipe {
    color: #ebfde6;
    text-shadow: 2px 2px 4px rgb(159, 179, 156);
    top: 58px;
    margin-left: 37px;
    margin-top: 30px;
    font-size: 34px;
    cursor: default;
    margin-bottom: 50px;
}

.funcionarios {
    display: flex;
    justify-self: center;
    gap: 20px;
    
}

#fisio1, #fisio2, #fisio3 {
    width: 290px;
    border-radius: 30px;
    box-shadow: 0 0 15px #CDCBCC;
}

#pfisio {
    color: rgb(245, 238, 238);
    text-shadow: 0px 0px 10px rgb(161, 202, 145);
    cursor: default;
}

.funcionario1, .funcionario2, .funcionario3 {
    justify-items: center;
    align-items: center;
}

.aba5 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    background-color: #1d221cb3;
    border-top: 1px solid rgb(115, 151, 113);
    box-shadow: 2px rgb(115, 151, 113);
    bottom: 0px;
    z-index: 100;
    flex: 1;
    

}

.aba5voltar{
    align-items: center;
    justify-items: center;
}

#h3aba5 {
    color: #defad8;
    text-shadow: 0px 0px 25px rgb(12, 20, 11);
    cursor: default;

    
}

.instagram {
    
    bottom: 0px;
    left: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    
}

#instalogo {
    width: 15px;
    margin-right: 2.1px;
}

#instap {
    color: white;
    font-weight: 600;
    cursor: default;
}

#btnagendar2 {
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    background-color: #9de0a0;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 0px;
    width: 248px;
    height: 39px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(53, 70, 51);
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 15px #9de0a0;

}






#header2 {
   display: flex;
   padding-left: 9px;
   margin-top: 0;
   height: 80px;
   width: 100%;
   background-color: #40533bb3;
   font-family: "Inter Tight", sans-serif;
   border-bottom: 1.4px solid rgb(115, 151, 113);
   box-shadow: 0px 0px 35px rgb(115, 151, 113);
}

#h1fisio2 {
    position: relative;
    font-size: 56px;
    margin-top: 5px;
    font-weight: 420;
    text-shadow: 2px 2px 4.5px #163b04;
    color: #ebfde6;
    left: 5px;
    cursor: pointer;
    
}

.aba2agendar {
    height: 350px;
    display: flex;
    flex-direction: column;
    background-image: url(BackgroundFundo.png);
    
    background-size: cover;
}



#h1pag2 {
    color: #ffffff;
    font-weight: 630;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(142, 165, 131, 0.699);
    cursor: default;
    margin-top: 16px;
    z-index: 100;
    margin-top: 30px;
    margin-left: 35px;
    width: 400px;
    margin-bottom: 0px;
    

}

#ppag2 {
    position: relative;
    color: #ccd8c7;
    font-weight: 630;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgba(142, 165, 131, 0.699);
    cursor: default;
    width: 310px;
    margin-top: 9px;
    margin-left: 38px;
    margin-bottom: 0px;
    
    
}

.titulopag2 , .titulo2pag2 {
    margin-left: 10px;
}


.escolheragenda {
    display: flex;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-left: 43px;
    
    
}


#expandiragenda {
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    background-color: #8caa86;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 0px;
    width: 248px;
    height: 52px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 23px #6a9b6d;
    margin-top: 25px;
    margin-left: 5px;

}

.agendaimagem {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: flex-end;
    right: 150px;
    top: 89px;
    z-index: 0;


}

#agendaimg {
    width: 580px;
}

.opcoesagenda {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 70px;
    justify-self: center;
    align-self: center;
    background-color: #090a087c;
    border: 1px solid #475f48;
    border-radius: 18px;
    padding: 15px;
    box-shadow: 0px 0px 20px #475f48;
    z-index: 10;
    width: 450px;
    height: 250px;
    color: white;

}

.opcoesagenda.ativo {
    display: flex;
}

.opcoesagenda.fechado {
    display: none;
}

.opcaoservico, .opcaodata, .opcaohorario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#btnconfirmar {
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    background-color: #475f48;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 0px;
    width: 168px;
    height: 39px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(53, 70, 51);
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 23px #6a9b6d;
    margin-top: 23px;
}

#btnfechar {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#imgfechar {
    width: 30px;
}


.meusagendamentos {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: #d9ffd0;
    text-shadow: 2px 2px 1px rgb(97, 126, 93);
    border-top: 2.4px solid rgba(115, 151, 113, 0.829);
    box-shadow: 0px -17px 15px #475f4841;
    padding-bottom: 212px;
    
    
}

.card-agendamento {
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 2px 2px rgb(97, 126, 93);
    justify-items: center;
    align-items: center;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    background-color: #090a087c;
    border: 3px solid #475f48;
    border-radius: 18px;
    padding: 15px;
    max-width: 100%;
    height: 75px;
    color: white;
    margin-bottom: 13px;
    z-index: 100;
    
    

    
}

.btncancelar {
    position: absolute;
    right: 20px;
    top: 34px;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-weight: 330;
    color: #6e0f0f;
    text-shadow: 2px 2px 3px rgb(53, 13, 4);
    height: 45px;
    background-color: transparent;
    border: 1.7px solid #6e0f0f;
    border-radius: 12px;
    cursor: pointer;
}

#listaagendamentos {
    column-gap: 15px;
}


.aba2pag2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 116px;
    width: 100%;
    background-color: #1d221cb3;
    border-top: 1px solid rgb(115, 151, 113);
    box-shadow: 2px rgb(115, 151, 113);
    bottom: 0px;
    z-index: 100;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.aba2pag2voltar{
    align-items: center;
    justify-items: center;
}

#h3aba2pag2 {
    color: #defad8;
    text-shadow: 0px 0px 25px rgb(12, 20, 11);
    cursor: default;

    
}

.instagram2 {
    margin-top: 10px;
    bottom: 0px;
    left: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    
}

#instalogo2 {
    width: 15px;
    margin-right: 2.1px;
}

#instap2 {
    color: white;
    font-weight: 600;
    cursor: default;
}

#btnvoltar {
    background-color: transparent;
    border: 0;
    display: flex;
    margin-top: 20px;
    position: absolute;
    justify-self: center;
    align-self: center;
    border: 0px;
    cursor: pointer;
    
}

#voltarimg {
    margin-top: 0;
    width: 85px;
}